In [5]:
import pandas as pd 
import numpy as np 


df = pd.DataFrame(columns=['k','beta_freq','beta_sem','beta_phon','numrat','denrat','num/den','phonl', 'phonh','freql','freqh', 'siml', 'simh'])

df.to_csv('beta/beta_CBM_no_rep.csv',index=False)

In [6]:
df

Empty DataFrame
Columns: [k, beta_freq, beta_sem, beta_phon, numrat, denrat, num/den, phonl, phonh, freql, freqh, siml, simh]
Index: []

In [7]:
df.loc[len(df)] = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'a', 'b']

In [8]:
df

,k,beta_freq,beta_sem,beta_phon,numrat,denrat,num/den,phonl,phonh,freql,freqh,siml,simh
0,a,b,c,d,e,f,g,h,i,j,k,a,b